/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
@import url(http://fonts.googleapis.com/css?family=Calibri);

.labelHeading {
	background-color: #CAE1FF;
	padding: 4px;
	border-radius: 4px;
}



.labelRisk {
	background-color: #CAE1FF;
	padding: 4px 20px 5px 4px;
	margin: 2px 0px 2px 2px;
	border-radius: 4px;
}

.statusRowConsolidation {
	background-color: #F0F8FF;
	min-width: 1000px !important;
	margin: 3px 10px 0px 10px;
}

.leftSpacing {
	padding-left: 80%;
}

.labelTitleAvailableJobs {
	background-color: #CAE1FF;
	width: 1000px;
	padding: 4px;
	border-radius: 4px;
}

.stepNo {width ="60px";
	padding-top: "15px";
}

.smallBlack {
	color: black;
}

.fonts {
	font-family: Tahoma !important;
}

.noresize {
	resize: none;
}

.whiteBoldLeftPadded {
	color: white;
	font-weight: bold;
	padding-left: 10px;
}

.blueBackground {
	background-color: #111A65;
}

.withPadding {
	padding: 5px;
}

.withMorePadding {
	padding: 10px;
}

.grayBackground {
	background-color: gray;
}

.orangebackground {
	background-color: orange;
}

.redbackground {
	background-color: red;
}

.dottedborder {
	border-right-style: dotted;
	border-right-color: gray;
}

<!--
LOGIN FORM UIIIII   -->::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}

::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.backLogin {
	background: url(images/bg.png) repeat !important;
	font-family: Century Gothic, CenturyGothic, AppleGothic,sans-serif !important;
	font-weight: 300 !important;
	text-align: left !important;
	text-decoration: none !important;
}

#text {
	width: 400px;
	height: 270px;
	position: absolute;
	padding: 11px 20px;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	border-radius: 5px;
	left: 50%;
	top: 40%;
	margin-left: -450px;
	margin-top: -150px;
	font-weight: 50;
	font-size: 18px;
	line-height: 24px;
	color: gray;
}

#wrapper {
	width: 300px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: 100px;
	margin-top: -220px;
}

/*.gradient {
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	background: url(../images/gradient.png) no-repeat;
}*/
.gradient {
	width: 200px;
	height: 200px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;
	/* Fallback */
	background-image: url(images/gradient.png);
	background-repeat: no-repeat;
	/* CSS3 Gradient */
	background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213, 246, 255, 0)),
		to(rgba(213, 246, 255, 0)));
	background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213, 246, 255, 0),
		rgba(213, 246, 255, 0));
	background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213, 246, 255, 0),
		rgba(213, 246, 255, 0));
	background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213, 246, 255, 0),
		rgba(213, 246, 255, 0));
	background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213, 246, 255, 0),
		rgba(213, 246, 255, 0));
}

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
	background: #424242;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.login-form .headerLogin {
	padding: 15px 30px 30px 30px;
}

.login-form .headerLogin h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 34px;
	color: #fff;
	text-shadow: 0px 0px 0 rgba(256, 256, 256, 1.0);
	margin-bottom: 10px;
}

.login-form .headerLogin span {
	font-size: 12px;
	line-height: 16px;
	color: #fff;
}

.login-form .content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top: 250px;
	/* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65, 72, 72, 0.75) url(images/user-icon.png) no-repeat
		center;
}

.pass-icon {
	top: 320px;
	background: rgba(65, 72, 72, 0.75) url(images/pass-icon.png) no-repeat
		center;
}

/* Animation */
.input, .user-icon, .pass-icon, .button {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.register {
	margin-left:50px;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	background: #00aeef;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

.login-form .footer .button {
	width: 188px;
	padding: 10px 25px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #000;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
	background: #fff;
	border: 1px solid #424242;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: inset 0 2px 2px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 2px 2px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 2px 2px rgba(256, 256, 256, 0.75);
}

.login-form .footer .button:hover {
	background: #424242;
	color: #fff;
	border: 1px solid rgba(256, 256, 256, 0.75);
	box-shadow: inset 0 2px 1px rgba(3, 228, 252, 0.75);
	-moz-box-shadow: inset 0 2px 1px rgba(3, 228, 252, 0.75);
	-webkit-box-shadow: inset 0 2px 1px rgba(3, 228, 252, 0.75);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	background: #56c2e1;
	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5);
}

/* Register button */
.login-form .footer .register {
	margin-top: 10px;
	cursor: pointer;
	background: none;
	border: none;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: 50;
	font-size: 16px;
	color: #fff;
	text-shadow: 0px 0px 0 rgba(256, 256, 256, 0.5);
}

.login-form .footer .register:hover {
	color: #03e4fc;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}

.footer-distributed {
	height: 115px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	z-index: 250000;
	background-color: #f9f9f9;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	font: 'Century Gothic', CenturyGothic, AppleGothic, sans-seriff;
	font-size: 10px;
	font-weight: bold;
	padding: 5px 25px;
}

.footer-distributed .footer-left p {
	color: #9d6000;
	font-size: 14px;
	margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: 300;
	color: #f05822;
	padding: 0;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}
.labelDesign {
x: 183px;
y: 294px;
height: 32px;
color: #003056;
padding-left: 2px;
font-family: 'Source Sans Pro';
font-size: 13px;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
}

.labelDesignNormalSize {
x: 183px;
y: 294px;
height: 32px;
color: #003056;
font-family: 'Source Sans Pro';
font-size: 15px;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #424242;
	border-radius: 2px;
	font-size: 20px;
	padding: 5px;
	color: #ffffff;
	text-align: center;
	line-height: 10px;
	margin-left: 3px;
}

<!--
DASHBOARD UIII    -->ol, ul {
	padding: 0;
	list-style: none;
}

.container {
	overflow: hidden;
	margin: 0em auto;
	width: 1200px;
	margin-bottom: 12px;
}

.dashboardButton {
	display: inline-block;
	padding: 1em 2em 1em 2em;
	background: #0173B2;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFF;
}

.centerPanel {
	position: relative;
	padding: 0em 3em;
	
}

#logo {
	position: absolute;
	left: 0;
	float: left;
	margin-top: -70px;
}
.yearList{
	
}

.boxshadow{
	box-shadow: 5px 5px;
}
.horizontalDiv{
	
	display:inline-block;
}
/* GXT NEPTUNE THEME EDITS */

.com-sencha-gxt-theme-neptune-client-base-tabs-Css3PlainTabPanelAppearance-Css3PlainTabPanelStyle-tabStripText{
	font: normal 12px helvetica, arial, verdana, sans-serif !important;
	
}

.com-sencha-gxt-theme-neptune-client-base-panel-Css3HeaderAppearance-Css3HeaderStyle-headerText{
	font-weight:normal !important;
	
}

.x-auto-1-label.com-sencha-gxt-theme-neptune-client-base-container-Css3AccordionLayoutAppearance-Css3AccordionHeaderStyle-headerText {
	font-weight:normal !important;
	color: #FFFFFF !important;
}

.com-sencha-gxt-theme-neptune-client-base-container-Css3AccordionLayoutAppearance-Css3AccordionHeaderStyle-headerText {
	font-weight:normal !important;
	color: #FFFFFF;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableHeader{
	color:white !important;
	font-weight: normal !important;
}
/* Designer CSS */
.buttonDesign{
x: 836px;
y: 458px;
width: 80px;
height: 20px;
color: #FFFFFF;
font-family: 'Source Sans Pro';
font-size: 12px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: center;
background: #13B01A;
border: none;
border-radius: 5px;

}
.sidebarNew{
x: 82px;
y: 43px;
width: 44px;
height: 704px;
background: #104b67;
border: 0px solid #ffffff;
border-radius: 0px;
}
.sidebarNew:hover{
	background: #2196F3;
}


.com-sencha-gxt-theme-neptune-client-base-panel-Css3ContentPanelAppearance-Css3ContentPanelStyle-header {
	x: 131px;
y: 179px;
width: 1200px;
height: 33px;
color: #FFFFFF;
font-family: 'Source Sans Pro';
font-size: 14px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
padding: 10px;
background: #2196F3 !important;
border-radius: 0px;
	
}

.designerImage {
x: 1083px;
y: 589px;
width: 21px;
height: 23px;
border: 1px solid #000000;
}
.designeruserLabel {
x: 923px;
y: 59px;
width: 140px;
height: 25px;
color: #0064B4;
font-family: 'Source Sans Pro';
font-size: 14px;
font-weight: normal;
font-style: normal;
text-decoration: underline;
text-align: left;
}
.com-sencha-gxt-theme-neptune-client-base-tabs-Css3PlainTabPanelAppearance-Css3PlainTabPanelStyle-tabStripActive.com-sencha-gxt-theme-neptune-client-base-tabs-Css3PlainTabPanelAppearance-Css3PlainTabPanelStyle-tabItem
{ 
background: #74C2FF !important;
color: #FFFFFF;
}
.com-sencha-gxt-theme-neptune-client-base-tabs-Css3PlainTabPanelAppearance-Css3PlainTabPanelStyle-tabItem{
	background: #087BD6!important;
	color: #FFFFFF;
}
.com-sencha-gxt-theme-neptune-client-base-tabs-Css3PlainTabPanelAppearance-Css3PlainTabPanelStyle-tabStripText{
	color: #FFFFFF !important;
}

.containercheck {
	width:0;
    display: flex;
}
.form-rowSmall {
/* 	border: 1px solid green; */
	min-height: 40px;
	max-width: 400px;
	margin: 6px 0 0 5px;
	padding: 5px  0 3px 0;
	border-bottom: 1px solid #ddd !important;
}

.designerTextbox{
x: 337px;
y: 420px;
width: 222px;
height: 20px;
background: #FFFFFF;
border: 1px solid #BDBDBD;
border-radius: 0px;
}
.checkTEXTBOX
{
	height: 24px;
	width: 148px;
	
	display: block;
 	padding: 0;
 	border: 1px solid #C0C0C0;
}
.marginLeft{
	margin-left: 15px;
}
.auditengLabel {
x: 130px;
y: 265px;
width: 146px;
height: 27px;
color: #003056;
font-family: 'Source Sans Pro';
font-size: 13px;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
}

.auditengTocc{
	x: 137px;
	y: 368px;
	width: 44px;
	height: 10px !important;
	color: #616161;
	font-family: Arimo;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	background: #E0E0E0
	;border: 1px solid #E0E0E0;
	border-radius: 10px;}
.auditengToccText
{
	height: 45px !important;
	width: 1100px  !important;
    border: 0px solid #E0E0E0;
    border-bottom-width: 2px;
    background-color: transparent;
    border-radius: 0px;
}
.marginLeft50{
	margin-left: 50px;
}

.buttonDesignLogin{
x: 836px;
y: 458px;
width: 230px;
height: 30px;
color: #FFFFFF;
font-family: 'Source Sans Pro';
font-size: 14px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: center;
background: #13B01A;
border: none;
border-radius: 32px;

}
.textareaAudEng {
 width: 300px;
 height: 100px;
 font-size: 1em;
 font-weight: normal;
 font-family: 'Source Sans Pro';
 border: 1px solid black;
}
.iconMargin{
	margin: auto;
}
.field-divShort{
/* 	border: 1px solid yellow; */
	margin: 2px 0 0 220px;
	width: 300px;
	min-height: 30px;
	padding: 0 0 0 10px;
}

select {
  /* for Firefox list box arrow disable */
  -moz-appearance: none;
  /* for Chrome list box arrow disable*/
  -webkit-appearance: none;
}

/* For IE10 list box arrow disable*/
select::-ms-expand {
  display: none;
}

.com-sencha-gxt-theme-neptune-client-base-container-Css3AccordionLayoutAppearance-Css3AccordionHeaderStyle-headerText
{
	
}