<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<!-- Datasource for LOCAL database connection -->
      
       
  	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/abiliteclean" />
		<property name="username" value="root" />
		<property name="password" value="0502" />


	</bean>
	
	
	 
	   <!-- 
	   Data Source for mocha connection
	  -->
		   <!-- 
	   
	   	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://mysql3000.mochahost.com/rms2019_abiliteclean" />
		<property name="username" value="rms2019_root" />
		<property name="password" value="Password1" />

	</bean> 
	--> 
  <!-- 
		<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.7.96.2:3306/abilite" />
		<property name="username" value="adminN8f5DMl" />
		<property name="password" value="L51NSa2xBEUL" />

	</bean>

 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.internalaudit.shared.City</value>
				<value>com.internalaudit.shared.Country</value>
				<value>com.internalaudit.shared.Department</value>
				<value>com.internalaudit.shared.Employee</value>
				<value>com.internalaudit.shared.Strategic</value>
				<value>com.internalaudit.shared.StrategicAudit</value>
				<value>com.internalaudit.shared.RiskFactor</value>
				<value>com.internalaudit.shared.StrategicRisk</value>
				<value>com.internalaudit.shared.Skills</value>
				<value>com.internalaudit.shared.JobTimeEstimation</value>
				<value>com.internalaudit.shared.ResourceUse</value>
				<value>com.internalaudit.shared.JobAndAreaOfExpertise</value>
				<value>com.internalaudit.shared.JobCreation</value>
				<value>com.internalaudit.shared.JobEmployeeRelation</value>
				<value>com.internalaudit.shared.JobSkillRelation</value>
				<value>com.internalaudit.shared.Softskills</value>
				<value>com.internalaudit.shared.AuditEngagement</value>
				<value>com.internalaudit.shared.RiskControlMatrixEntity</value>
				<value>com.internalaudit.shared.Exceptions</value>
				<value>com.internalaudit.shared.AuditStep</value>
				<value>com.internalaudit.shared.AuditWork</value>
				<value>com.internalaudit.shared.StrategicDepartments</value>
				<value>com.internalaudit.shared.Company</value>
				<value>com.internalaudit.shared.CompanySkillRelation</value>
				<value>com.internalaudit.shared.Feedback</value>
				<value>com.internalaudit.shared.Process</value>
				<value>com.internalaudit.shared.JobType</value>
				<value>com.internalaudit.shared.SubProcess</value>
				<value>com.internalaudit.shared.ActivityObjective</value>
				<value>com.internalaudit.shared.RiskObjective</value>
				<value>com.internalaudit.shared.SuggestedControls</value>
				<value>com.internalaudit.shared.AuditProgramme</value>
				<value>com.internalaudit.shared.ObjectiveJobRelation</value>
				<value>com.internalaudit.shared.RiskJobRelation</value>
				<value>com.internalaudit.shared.ToDo</value>
				<value>com.internalaudit.shared.InformationRequestEntity</value>
				<value>com.internalaudit.shared.ToDoLogsEntity</value>
				<value>com.internalaudit.shared.InformationRequestLogEntity</value>
				<value>com.internalaudit.shared.ReportDataEntity</value>
				<value>com.internalaudit.shared.AssesmentGridDbEntity</value>
				
			</list>
		</property>
	</bean>
	<bean id="ManagerExams" class="com.internalaudit.database.MySQLRdbHelper">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>

